<h1>V채lkommen admin </h1>
<h3>Dessa personer prenumererar p책 nyhetsbrevet</h3>

    <% for(var i=0; i<users.length; i++) {%>
        <% if (users[i].subStatus === true) { %>
           
            <div>
                <ul>
                    <li><%= "Namn: " + users[i].name %> </li>
                    <li><%= "Id: " + users[i].id %> </li>
                    <li><%= "Epost: " + users[i].email %> </li>
                    <br>
                </ul>
             </div>  
        <% } %>
          
    <% } %> 
    </ul>


<h3>H채r 채r alla medlemmar</h3>

<% for(var i=0; i<users.length; i++) {%>
    
       
        <div>
            <ul>
                <li><%= "Namn: " + users[i].name %> </li>
                <li><%= "Id: " + users[i].id %> </li>
                <li><%= "Epost: " + users[i].email %> </li>
                <br>
            </ul>
         </div>  
   
      
<% } %> 
</ul>